@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  font-family: 'Playfair Display', serif;
}
.heading {
  font-weight:700;
  text-align:center;
  text-transform:uppercase;
  border-bottom:1px solid #ccc;
  margin-top:50px;
  padding-bottom:15px;
}
#frame {
  font-size:60px;  
}
.dot {
  font-size:100%;
  margin:0 5px;
}